<h1>Job Board</h1>
@foreach(var listing in Model)
{
  <p>@listing.GetTitle()
    <ul>
      <li>@listing.GetDescription()</li>
      <li>@listing.GetContact()</li>
    </ul>
  </p>
}
<p><a href="/">Add another job listing</a></p>
