<h1>Post a job on the job board!</h1>
<form action="/job_board" method="post">
  <label for="new-title">Job Title</label>
  <input id="new-title" name="new-title" type="text">
  <label for="new-description">Job Description</label>
  <input id="new-description" name="new-description" type="text">
  <label for="new-contact">Contact</label>
  <input id="new-contact" name="new-contact" type="text">
  <button type="submit">Submit</button>
</form>
