<h1>Job Listing</h1>
<p>@Model.GetTitle()
  <ul>
    <li>@Model.GetDescription()</li>
    <li>@Model.GetContact()</li>
  </ul>
</p>
<p><a href="/">Add another job listing</a></p>
<p><a href="/job_board">View all listing on the Job Board</a></p>
